.App
{
  background-image: url(Wallpaper.jpg);
}
.top
{
  font-size: 75px;
  font-variant-caps: petite-caps;
  font-family: monospace;
  padding-left: 20px;
  text-align: center;
  color: white;
  background-image: url(Wallpaper.jpg);
  text-shadow: 2px 5px 5px black;
}
.btn
{
  font-size: 20px;
  padding: 5px;
  float: right;
  border-radius: 20px;
  box-shadow: 2px 5px 5px black;
}
.btn:hover{
  color: gold;
  background-color: black;
  box-shadow: 5px 5px 5px gold;
}
.card
{
  background-color: black;
  border-radius:5%;
  width: 275px;
  height: 275px;
  box-shadow: 5px 5px 5px gold;
  padding:7px;
}
.caption
{
  font-size: 15px;
  text-align:end;
  color: white;
}
.square-img
{
  border-radius: 50px;
  padding: 5px;
}